@import '../CommonScss/Header';

.ForgetBody{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .ForgetTitle{
        margin-top: 6%;
        font-size: 22px;
        font-weight: 620;
    }

    .Container{
        border: 1px solid lightgray;
        width: 424px;
        height: 320px;
        margin: 20px;

        .InnerContainer{
            width: 290px;
            height: 170px;
            margin: 37px 67px 0px 67px;

            .Description{
                color: rgb(177, 174, 174);
                text-align: left;
                font-size: 14px;
                margin: 2px 2px 2px 6px;
            }
    
            .Password{
                margin-top: 20px;
                margin-right: 220px;
                margin-left: 10px;
                font-weight: 500;
            }

            .CPassword{
                margin-top: 20px;
                margin-right: 140px;
                font-weight: 500;
            }
            .searchEmailInput{
                width: 270px;
                height: 25px;
                border: 1px solid lightgray;
            }
    
            .ResetButton{
                margin: 30px 0px 0px 0px;
                width: 280px;
            }

        }

        .createAccountField{
            width: 422px;
            height: 80px;
            margin: 33px 0px 0px 0px;
            border: 1px solid rgb(216, 215, 215);
            background-color: rgb(236, 235, 235);

            .CreateAccountTitle{
                margin: 20px 0px 0px 0px;
                font-size: 18px;
                font-weight: 500;
            }
        }
        
    }

}