.breadcrumbs{
    display: flex;
}

.breadcrumbs{

    margin: 10px 0px 0px 100px;

    .Link1{
    font-size: 20px;
    font-weight: 500;
    }
    .Link2{
        font-size: 20px;
        font-weight: 500;
        }
}