
.MuiIconButton-colorInherit {
    color: inherit;
    margin-left: 0px;
}

.MuiButton-colorInherit{
    color: inherit;
    border-color: currentColor;
    margin-left: 40%;
}

.MuiAppBar-colorPrimary {
    color: #fff;
    background-color: maroon;
}

.TitleAdmin{
    margin: 0px 0px 0px 560px;
}
