$light_grey : lightgrey;
$light_grey_border : 1px solid $light_grey ;
$position : absolute;

.MainContainer{
    
    width: 1514px;
    height: 691px;
    background-color: rgb(163, 163, 163);
    border: 2px solid lightblue;
    //opacity: 0.31;
    display: flex;
    flex-direction: row;

    position: $position;
}

 .cart{

    .cart1{
        position: $position;

        top: 185px;
        left: 320px;
        width: 624px;
        height: 391px;
        background-color: rgb(231, 231, 231) ;
        border-radius: 15px;

        .Signlogo{
            height: 245px;
            width: 245px;
            margin-right: 300px;
            margin-top: 55px;
        }

        .OBShoping{
            font-weight: 700;
            font-size: 17px;
            margin-bottom: 100px;
            margin-top: 30px;
            margin-right: 270px;
        }
    }

    .cart2{

        top: 166px;
        left: 658px;
        width: 389px;
        height: 470px;
    
        background-color: #ffffff;
        box-shadow: 0px 5px 15px #00000029;
        border: $light_grey_border;
        border-radius: 5px;
    
        position: $position;
    
    }

 }


$margin_left : 20%;
$margin_top : 7%;
$font_size : 140%;
$font_weight : 600;

.title{
    display: flex;

    .Login{
    
        margin-left : $margin_left;
        margin-top: $margin_top;
        font-size: $font_size;
        font-weight: $font_weight;
        
    }

    .SignUp{

        @extend .Login;
    
    }
}

$Input_weight : 250px;
$Input_height : 30px;
$Border_Radius : 4px;

.Toggle {
    //border: $light_grey_border ;
    margin-top: 5%;
    .loginToggle{
        
        .emailId{
            margin-top: 10px;
            margin-right: 210px;
        }

        .password{
            margin-top: 15px;
            margin-right: 190px;
        }

        .EmailIdInput{
            width: $Input_weight;
            height: $Input_height;
            border: $light_grey_border;
            border-radius: $Border_Radius;
        }
        
        .PasswordInput{
            @extend .EmailIdInput;

        }
        
        .ForgetPassword{
            margin-top: 0%;
            margin-left: 37%;
        }

        .RadioButton{
            display: flex;
        }

        .LoginButton{
            margin-top: 5%;
            width: 68%;
        }
    }
}

.lines{
    display: flex;

    .solid{
        width: 80px;
        // margin-left: 0%;
        height: 0.1px;
        margin-top: 10%;
        color: $light_grey_border;
    }

    .OR{
        font-weight: 500;
        margin-top: 7%;
    }
}

.SocialButton{
    display: flex;

    .Facebook{
        margin: 30px 5px 15px 70px;
        width: 120px;
    }

    .Google{
        margin: 30px 5px 15px 15px;
    }
} 

$Input_height1 : 25px;
.signupToggle{
    
    .FullNameInput{
        width: $Input_weight;
        height: $Input_height1;
        border: $light_grey_border;
        border-radius: $Border_Radius;
        // display: flex;

    }

    .EmailIdInput{
        @extend .FullNameInput;

    }

    .PasswordInput{
        @extend .FullNameInput;
    }

    .MobileInput{
        @extend .FullNameInput;
    }

    .SignupButton{
        margin-top: 5%;
        width: 68%;
    }

    .FullName{
        margin: 5px 5px 0px 30px;
        display: flex;

        .FirstName{
            display: flex;
            margin: 0px 5px 0px 10px;
        }

        .FirstNameInput{
            margin: 0px 5px 0px 0px;
            width: 150px;
            height: $Input_height1;
            border: $light_grey_border;
            border-radius: $Border_Radius;
        }

        .LastName{
            margin: 0px 5px 0px 17px;
            display: flex;
        }

        .LastNameInput{
            margin: 0px 5px 0px 5px;
            width: 150px;
            height: $Input_height1;
            border: $light_grey_border;
            border-radius: $Border_Radius;
        }

    }

    .Admin{

        .AdminName{
            display: flex;
            margin: 0px 5px 0px 70px;

        }

        .AdminNameInput{
            width: $Input_weight;
            height: $Input_height1;
            border: $light_grey_border;
            border-radius: $Border_Radius;
        }
    }

    .EmailId{
        margin-top: 15px;
        margin-right: 200px;
    }

    .Password{
        margin-top: 15px;
        margin-right: 190px;
    }

    .MobileNumber{
        margin-top: 15px;
        margin-right: 145px;
    }

    .RadioButton{
        display: flex;
        margin: 10px 0px 0px 120px;
        
    }

    .MuiFormGroup-root{
        flex-direction: row;
    }
}