@import '../CommonScss/NavBar.scss';

// @import "~bootstrap/dist/css/bootstrap.min.css";

.getBooks{
    width: 233px;
    height: 274px;
    border: 1px solid lightgray;
    box-sizing: border-box;
    margin: 20px 20px 20px 10px;

    .imageZone{

        height: 172px;
        width: 232px;
        box-sizing: border-box;
        background-color: lightgray;
        border: 1px solid lightgray;
        
        .imageLink{
            margin-top: 10px;
            height: 145px;
            width: 105px;
        }
    }  

    .bookName{
        display: flex;
        justify-content: left;
        margin: 5px 0px 0px 20px;
        font-weight: 500;
    }
}

.DashBody{

    .Middle{
        display: flex;
        padding: 20px 0px 0px 150px;

        .Books{
            font-weight: 500;
            font-size: 25px;
        }

        .Attribute{

            margin-left: 500px;

            .AttributeButton{
                width: 200px;
                height: 40px;
                border: 1px solid lightgray;
            }
        }

        .Sort{
            margin-left: 100px;

            .SortButton{
                width: 200px;
                height: 40px;
                border: 1px solid lightgray;
            }
        }
    }

.dashBoardBody{
    display: flex;
    flex-wrap: wrap;
    padding : 10px 100px 10px 100px;
    margin: 20px 120px 10px 120px;
    //border: 1px solid lightgray;
}
}